*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

nav {
    background-color: blue;
    display: flex;
    width: 100vw;
    justify-content:space-between;
 
    
    }

    a{
        color: white;
    }
    ul {
        display: flex;
        list-style-type: none;
    }
    li {
        margin-right: 40px;
        margin-top: 25px;

    }

    h1{
        color:white;
        margin: 20px;
    }

    
    .hero{
        background-color: blue;
        /* height: 80vh; */
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /* padding: 0 0 10px 45px; */
        gap: 150px;
        margin-left: 100px;
        margin-bottom: 100px;
    
        
        

        }

        .Golf h2{
            margin-bottom: 50px;
            text-align: center;
            border-radius: 60px;
        }

        .Golf{
            background-color: black;
            border-radius: 15px;
            padding: 10px;
            color: white;
            margin-top: 60px;
        }

        .golf h3{
       
        BAckground-color: black

    
        }

        .info-text{
            background-color: black;
            border-radius: 15px;
            padding: 10px;
            color: white;
            padding: 50px;
            width: 500px;
            /* margin-left: 500px; */
            /* padding down: 70px; */
            Margin-left: 100px;
            padding: 60px;

        }

   .info-section img{
    width: 500px;
    padding-top: 50px;
    padding-left: 50px;

   }
   .info-section {
    display: flex;
    }





        body {
            background-color: blue;
        }

        header {
            background-color: blue;
        }
        nav {
            background-color: blue;
        }
        .hero {
            background-color: blue;
        }
        main {
            background-color: blue;
        }


    