*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

nav {
    background-color: blue;
    display: flex;
    width: 100vw;
    justify-content:space-between;
 
    
    }

    a{
        color: white;
    }
    ul {
        display: flex;
        list-style-type: none;
    }
    li {
        margin-right: 40px;
        margin-top: 25px;

    }

    h1{
        color:white;
        margin: 20px;
    }

    
    .hero{
        background-color: blue;
        height: 80vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 0 10px 45px;
        gap: 150px;
        

        }

        .Golf h2{
            margin-bottom: 50px;
            text-align: center;
            border-radius: 60px;
        }

        .Golf{
            background-color: black;
            border-radius: 15px;
            padding: 10px;
            color: white;
        }
